@font-face {
    font-family: spotLight;
    src: url(fonts/spotLight.ttf);
}

@font-face {
    font-family: spotMedium;
    src: url(fonts/spotMedium.ttf);
}

@font-face {
    font-family: spotBold;
    src: url(fonts/spotbold.ttf);
}

body {
    margin: 0;
    background-color: black;
}

main {
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "exp skill intro"
        "exp skill intro"
        "exp edu fact"
        "exp edu fact"
        "exp edu fact"
    ;
    gap: 30px;
    width: 100vw;
    height: 100vh;
}

li {
    margin-bottom: 5px;
}


.experience {
    grid-area: exp;
    width: 100%;
    height: 100vh;
    background-color: #c1e86b;
    display: grid;
    grid-template-rows: .1fr 1fr 1fr;
    cursor: pointer;
    border-radius: 8px;
    transition: all .2s ease-in-out;
}


.header-exp {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-exp > p {
    font-size: 4rem;
    letter-spacing: 1px;
    font-family: spotMedium;
    font-weight: bold;
    margin-top: 15px;
}



.exp-1 > :first-child, .exp-2 > :first-child {
    font-family: spotMedium;
    font-size: 1.1rem;
    color: #de0f9b;
  
}

.exp-1 > :nth-child(2), .exp-2 > :nth-child(2) {
    font-family: spotMedium;
    font-size: 1.6rem;
}

.exp-1 > :nth-child(3), .exp-2 > :nth-child(3) {
    font-family: spotMedium;
    font-size: 1.2rem;
}

.p-text {
    font-family: spotLight;
    font-weight: bolder;
    line-height: 20px;
    font-size: .9rem;
    margin-left: 10px;
}

.emp {
    font-family: spotMedium;
    color: #de0f9b;
}

.emp2 {
    font-family: spotMedium;
    color:#c1e86b
}


.top {
    position: relative;
    bottom: 8px;
}

.logo {
    width: 80px;
    height: 50px;
}

.skills {
    grid-area: skill;
    width: 100%;
    height: 100%;
    background-color: #de0f9b;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "prog frame"
        "head head"
    ;
    cursor: pointer;
    border-radius: 8px;
    transition: all .2s ease-in-out;
}

.prog-lang {
    grid-area: prog;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 5px;
}

.frame {
    grid-area: frame;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 5px;
}

.p-skill {
    font-family: spotMedium;
}

.prog-lang > :first-child, .frame > :first-child {
    color: #c1e86b;
    font-family: spotMedium;
}


.header-skills {
    display: flex;
    justify-content: center;
    grid-area: head;
}

.header-skills > p {
    font-size: 4rem;
    letter-spacing: 1px;
    font-family: spotMedium;
}

.education {
    grid-area: edu;
    width: 100%;
    height: 100%;
    background-color: #25947f;
    display: grid;
    grid-template-rows: .25fr 2fr;
    cursor: pointer;
    border-radius: 8px;
    transition: all .2s ease-in-out;
}

.header-edu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-edu > p {
    font-size: 4rem;
    letter-spacing: 1px;
    font-family: spotMedium;
    margin-bottom: 50px;
    margin-top: 10px;
}

.edu-info {
    display: flex;
    flex-direction: column;
}

.edu-info > p {
    font-size: 1.3rem;
}


.showcase {
    grid-area: intro;
    width: 100%;
    height: 100%;
    background-color: black;
}

.header-show {
    display: flex;
    justify-content: space-around;
}

.head-spot {
    width: 100px;
    height: 70px;
}

.header-show > p {
    font-size: 3.5rem;
    letter-spacing: 1px;
    color: #c1e86b;
    line-height: 50px;
    font-family: spotMedium;
    margin-top: 10px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.fun-facts {
    grid-area: fact;
    width: 100%;
    height: 100%;
    background-color: #c1e86b;
    grid-template-rows: 1fr 1fr;
    cursor: pointer;
    border-radius: 8px;
    transition: all .2s ease-in-out;
}

.header-fun {
    display: flex;
    margin-top: 15px;
}

.header-fun > p {
    font-size: 3.5rem;
    color: #de0f9b;
    font-family: spotBold;
    margin-bottom: 30px;
}

.facts {
   margin-top: 35px;
   margin-right: 10px;
}

.facts > :first-child {
    font-family: spotMedium;
    font-size: 1.2rem;
    margin-left: 10px;
}

/* Hover Effects on Cards*/
.experience:hover, .skills:hover, .education:hover, .fun-facts:hover {
    transform: scale(1.01);
}

.header-show > p:hover {
    color:#de0f9b;
    transform: scale(1.01);
}



